.conteiner{
    background-image: url(../images/snapsaga-BSq0evBiUNs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    height: 95vh;
    background-color: aquamarine;
}